[Unit]
Description=Copy ThinClient Configuration
ConditionPathExists=/boot/tcconfig
After=systemd-rfkill.service
Before=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/install -m 600 -o thinclient -g thinclient /boot/tcconfig /home/thinclient/tcconfig
ExecStartPost=/bin/rm -f /boot/tcconfig
ExecStartPost=/usr/bin/tc-ota-configure-timer

[Install]
WantedBy=network-pre.target
