[Unit]
Description=Copy user wpa_supplicant.conf
ConditionPathExists=/boot/wpa_supplicant.conf
Before=dhcpcd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tc-configure-wifi --from-file /boot/wpa_supplicant.conf --move-source

[Install]
WantedBy=multi-user.target
