[Unit]
Description=RDOS OTA Update Client
Documentation=https://github.com/mstrhakr/RDOS
After=network-online.target
Wants=network-online.target
ConditionPathExists=/boot/grub/grubenv

[Service]
Type=oneshot
ExecStart=/usr/bin/tc-ota-updater
StandardOutput=journal
StandardError=journal
SyslogIdentifier=tc-ota
TimeoutStartSec=3600
