[Unit]
Description=Disable Wifi Powersave
ConditionPathExistsGlob=/etc/wpa_supplicant/wpa_supplicant-*.conf
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tc-configure-wifi --disable-powersave

[Install]
WantedBy=multi-user.target
